.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    text-align: center;

    .category-title-preview {
      font-size: 25px;
      margin-bottom: 25px;
      cursor: pointer;
      font-family: 'Roboto Condensed';
      border: 1px solid;
      border-color: none;
      padding: 7px;
      background-color: black;
      color: aliceblue;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
     
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }
  }
  